body{
 background-color: #fff3db
}

body{
    font-family: sans-serif;
    font-size: 20px;
}

h1{
    font-size: 60px;
    font-family: sans-serif;
    background-color: #f02425;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 50px;
    font-family: sans-serif;
    color: #f02425;
    text-align: center;
}

strong{
    font-size: 20px;
    font-family: sans-serif;
    color: #f02425;
}

em{
    font-size: 25px;
    font-family: sans-serif;
    color: #f02425;
}

b{
    font-size: 20px;
    text-decoration-line: underline;
    font-style: italic;
}

.Astuce{
    background-color: #FFE48A;
    color: gray;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic; 
    text-align: center;
    }